@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Parkering</h2>
    <p>
        How well can you drive a car? OK, but how well can you do it online? Parking games are all about dexterity with a mouse or your fingers.
        Well, that and precise timing. The hand-eye exercises in these games will help you improve reaction time and attention to detail
        while you play. Park cars in lots, at the airport, or on the beach. Or go bigger and maneuver full-sized buses into tight spaces.
        How about a monster truck? It's OK if you destroy a little public property in those games. You can also get a bit mischievous.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Var God parkera eller hämta ut fordon</h4>
       
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/Images/carparkingsign.jpg" width="50" height="50" />
            @Html.ActionLink("Parkera fordon", "Create", "Fordons")
        </p>
    </div>
    <div class="col-md-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <img src="~/Images/reflective-parking-lot-signs-exit-right-arrow-l5844-lg.jpg" width="50" height="50" />
            @Html.ActionLink("Hämta fordon", "Index", "Fordons")
            
        </div>
    }
    </div>
   
</div>