@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Parkering</h2>
    <p>
        Hur väl kan du köra en bil? OK, men hur väl kan du göra det på nätet? Parkeringsspel handlar om 
        skicklighet med en mus eller fingrarna. Tja, det och exakt timing. Träning av hand-öga koordination 
        i dessa spel kommer att hjälpa dig att förbättra reaktionstiden och öka din uppmärksamhet på detaljer 
        medan du spelar. Parkering av bilar på parkeringsplatser, antingen vid flygplatsen eller på stranden. 
        Eller tänk på något större och manövrera riktigt stora bussar i trånga utrymmen. Vad sägs om en 
        monstertruck? Det är OK om du förstör lite allmän egendom i dessa spel. Du kan också bli lite busig.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Var god parkera eller hämta ut fordon.</h4>
       
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/Images/carparkingsign.jpg" width="50" height="50" />
            @Html.ActionLink("Parkera fordon", "Create", "Fordons")
        </p>
    </div>
    <div class="col-md-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <img src="~/Images/reflective-parking-lot-signs-exit-right-arrow-l5844-lg.jpg" width="50" height="50" />
            @Html.ActionLink("Hämta fordon", "Index", "Fordons")
            
        </div>
    }
    </div>
   
</div>